.appointment-container-style{
    background-color: rgb(240, 255, 240);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgb(197, 197, 197);
    border: 1px solid rgb(216, 216, 216);;
}